* {
    margin: 0;
}

/*--------------------------------------GRID--------------------------------------*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*grideeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
/*--------------------------------------GRID--------------------------------------*/



/*--------------------------------------HEADER--------------------------------------*/
header {
    background-color: red;
    min-height: 120px;
    position: relative;
    margin-bottom: 20px;
}

.headfootcont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*--------------------------------------HEADER--------------------------------------*/



/*--------------------------------------BODY--------------------------------------*/
main {
    text-align: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.title_fisica {
    font-size: 60px;
}

.title {
    font-size: 35px;
    margin-top: 20px;
}
.texto_exp {
    font-size: 25px;
}

.exem_ques {
    font-weight: bold;
    font-size: 35px;
}
.resolucao {
    font-weight: bold;
}

.respostas {
    font-size: 25px;
    margin-top: 15px;
}

#carro {
    width: 450px;
}

.verde {
    color: green;
}
.vermelho {
    color: red;
}
/*--------------------------------------BODY--------------------------------------*/



/*--------------------------------------FOOTER--------------------------------------*/
footer {
    background-color: red;
    min-height: 120px;
    position: relative;
    margin-bottom: 20px;
}
/*--------------------------------------FOOTER--------------------------------------*/